@{
    ViewBag.Title = "Products - Star-Food Ltd.";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            width: 100%;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            font-style: italic;
            text-align: center;
            color: saddlebrown;
            font-size: 35px;
            padding: 20px;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        main {
            width: 100%;
            max-width: 100%;
            margin: 0;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h1, h2, h3 {
            color: saddlebrown;
        }

        .product {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
            transition: transform 0.3s;
        }

            .product:hover {
                transform: translateY(-10px);
            }

            .product img {
                max-width: 360px;
                margin-right: 20px;
                border-radius: 8px;
                transition: transform 0.3s;
            }

                .product img:hover {
                    transform: scale(1.05);
                }

        .product-info {
            flex: 1;
        }

            .product-info p {
                margin: 5px 0;
            }

        .service {
            margin-top: 40px;
            padding-top: 20px;
            border-top: 1px solid #ddd;
        }

            .service h2 {
                margin-bottom: 20px;
            }

        .img-group {
            display: flex;
            gap: 10px;
        }

            .img-group img {
                max-width: 360px;
                border-radius: 8px;
                transition: transform 0.3s;
            }

                .img-group img:hover {
                    transform: scale(1.05);
                }

            .img-group .img-label {
                text-align: center;
                width: 200px;
                color: saddlebrown;
                font-weight: bold;
                margin-top: 5px;
            }

        .kopce {
            background-color: #2e8783;
            color: black;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
        }

            .kopce:hover {
                color: white;
            }
    </style>
</head>
<body>
    <header>
        Premium Coffee Selection
    </header>
    <main>
        @{
            var buyNow = Url.Action("Index", "Coffees1");
        }

        <div class="product">
            <img src="~/images/cremaGusto.jpg" alt="Crema Gusto">
            <div class="product-info">
                <h2>Crema Gusto</h2>
                <p>A soft blend of fine Arabica and Robusta beans. A perfect balance with spicy notes of an intense chocolate aroma with a vanilla flavor. It is characterized by a high concentration of creaminess. An ideal coffee at any time of the day. Packed in a 1kg bag.</p>
                <button onclick="window.location.href='@buyNow'" class="kopce">Buy Now</button>
            </div>
        </div>

        <div class="product">
            <div class="product-info">
                <h2>Mia Michela</h2>
                <p>A good coffee treat that everyone wants to have on hand. With an unmistakable aroma that gives you renewable energy and creates magical moments. It has an intense taste of chocolate and hazelnut with a strong aromatic bouquet. Perfect for true connoisseurs.</p>
                <button onclick="event.preventDefault(); window.location.href='@buyNow'" class="kopce">Buy Now</button>
            </div>
            <img src="~/images/mia_product.jpg" alt="Mia Michela">
        </div>

        <div class="product">
            <img src="~/images/oro_product.jpg" alt="Crema Oro">
            <div class="product-info">
                <h2>Crema Oro</h2>
                <p>A unique combination of 6 varieties of Arabica and a mix of the best Robusta beans expertly selected and perfectly blended. A perfect symphony that results in superior taste. It has a vanilla and hazelnut flavor with a sweet and aromatic note.</p>
                <button onclick="event.preventDefault(); window.location.href='@buyNow'" class="kopce">Buy Now</button>
            </div>
        </div>

        <div class="product">
            <div class="product-info">
                <h2>Dolce Crema</h2>
                <p>This blend is made from 100% specially selected Arabica beans with an intensely aromatic flavor that makes the ultimate espresso coffee irresistible at any time of the day. It is distinguished by a pronounced aroma of white chocolate and a taste of vanilla with a strong note of sugar.</p>
                <button onclick="event.preventDefault(); window.location.href='@buyNow'" class="kopce">Buy Now</button>
            </div>
            <img src="~/images/dolceCrema.jpg" alt="Dolce Crema">
        </div>

       

        <div class="product">
            <div class="product-info">
                <h2>Appia</h2>
                <p>Guaranteed Success with its high productivity and high performance, this machine is appreciated by thousands of baristas around the world. Simple and Innovative, Appia stands out, not only with its proven reliability, but also with the perfect style that makes it unique. It is the perfect coffee machine for large companies, cafeterias, and anywhere there is a need for an abundance of excellent coffee. Designed to save energy, protect the environment, and work efficiently.</p>
            </div>
            <br />
            <div style="margin-top: 15px;" class="img-group">
                <div style=" margin-left: 15px;">
                    <img src="~/images/appia_1.png" alt="Appia Coffee Machine 1">
                    <div style="margin-left: 9px" class="img-label">Appia Machine 1</div>
                </div>
                <div>
                    <img src="~/images/appia_2.png" alt="Appia Coffee Machine 2">
                    <div class="img-label">Appia Machine 2</div>
                </div>
                <div>
                    <img src="~/images/appia_3.png" alt="Appia Coffee Machine 3">
                    <div class="img-label">Appia Machine 3</div>
                </div>
            </div>
        </div>


        <div class="service">
            <h2>Customer Care and Service</h2>
            <p>Star Food is committed to providing exceptional customer service and support.</p>
            <ul>
                <li>Own distribution network</li>
                <li>24/7 service availability</li>
                <li>Dedicated customer support center</li>
                <li>Free training program</li>
            </ul>
        </div>
    </main>
</body>
</html>
